<h2> Nuevo Artículo </h2>
<form id="create_posts">
<%= form_with(model: @post) do |form| %>

<% if notice%>
  <%= notice%>
<%end%>

<% if alert%>
  <%= alert%>
<%end%>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error")%> Prohibited this @post from being saved: </h2>
      
      <ul>
       <% @post.errors.full_messages.each do |message|%>
         <li><%= message%></li>
       <%end%>
      </ul>
    </div>
  <%else%>
   <h1> Te registraste con éxito</h1>
  <%end%>
 

  

<div>
  <%= form.label :title%><br>
  <%= form.text_field :title%>
</div>

<div>
  <%= form.label :image_url%><br>
  <%= form.text_field :image_url %>
</div>

<div>
  <%= form.label :content%><br>
  <%= form.text_area :content%>
</div>

<div>
  <%= form.submit class:"btn btn-primary"%>
</div>

<%end%>
</form>