<h2> Nuevo Artículo </h2>
<form id="create_posts" method="post" action="/posts/create">
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label "Título" %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label "URL de la imagen"%><br>
    <%= form.text_field :image_url %>
  </p>
 
  <p>
    <%= form.label "Contenido"%><br>
    <%= form.text_area :content %>
  </p>
 
  <p>
    <%= form.submit "Guardar" %>
  </p>
<% end %>
</form>